html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden; /* يمنع السكرول يمين */
}

#head{
    background-color: black;
}
#nav-brand{
    background-color: transparent;
    margin-left: 20px;
    font-size: 35px ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    background: linear-gradient( to right, white 10%, rgb(181, 145,48) 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: transform .3s ease;
}
#first-section{
    
  background-image: url("Images/Individual\ doing\ sport\ healthy\ lifestyle\ _\ AI-generated\ image.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  width: 100%;        
  max-width: 100%;
  height: auto;       
  min-height: 100vh;  

}


.navbar-nav a{
    color: white;
    background-color: transparent;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    transition: transform .3s ease;
    margin-right: 15px;
    margin-left: 15px;
   
}

.navbar-nav a:hover,#nav-brand:hover{

    color: white;
    text-shadow: 0 0 10px rgb(181, 145,48),
                 0 0 20px rgb(181, 145,48),
                 0 0 30px rgb(181, 145,48);
    transform: scale(1.1);
    
            }
 
#left-section{
    background-color: transparent;
}
#right-section{
    background-color: transparent;
   

   
}

#row1{
    margin-top: 200px;
}
#row1 h1{
    font-size: 70px; 
    margin-left: 20px;
    color:rgb(181, 145,48) ;
}
#row1 h2{
    font-size: 70px; 
    margin-left: 20px;  
    color: white; 
}

#row2 h3{
    font-size: 30px; 
    margin-left: 20px;
     color:rgb(181, 145,48) 
      
}
#row3{
    margin-top: 15px;
    margin-left: 20px;
    }
#btn1{
    height: 50px;
    width: 150px;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 20px;
    margin-bottom: 10px;
    transition: all .3s ease;
}
#row1 h1,#row1 h2 ,#row2 h3{
    font-family: 'Bebas Neue', sans-serif;
     text-shadow: 3px 3px 6px rgba(0, 0, 0, 1);
}

#btn1 a{
    color: white;
    text-decoration: none;
    
}

#btn1:hover {
     background-color: white;
     color: rgb(181, 145,48);
    transform: scale(1.1);
    border: 2px solid white;
    box-shadow: 0 0 20px white;
}
#btn1 a:hover{
    color: rgb(181, 145,48);
}
    .social-icons{
        justify-content: center;
    }
    .social-icons i {
      font-size: 40px;
      margin: 15px;
      cursor: pointer;
      transition: 0.3s;
    }
    .social-icons i:hover {
      transform: scale(1.2);
    }
    .fa-whatsapp { color: #25D366; }
    .fa-facebook { color: #1877F2; }
    .fa-instagram { 
      color: #E1306C;
    }

    
    #form{
        background-color: transparent;
        
    }
   #third-section {
  background: url("Images/WhatsApp\ Image\ 2025-09-06\ at\ 21.40.53_8b4a9755.jpg") no-repeat center center;
  background-size: cover;
  min-height: 100vh;   /* ✅ يغطي الشاشة كاملة */
  padding-bottom: 0;   /* يشيل أي فراغ */
  margin-bottom: 0;    /* يشيل أي فراغ */
}

    #traineeForm{
        color: white;

    }
    #traineeForm label{
          text-shadow: 0 0 10px white,
                 0 0 20px white,
                 0 0 30px white;
    }
    #tranee{
        color: rgb(181, 145,48);
        transition: all .3s ease;
          text-shadow: 0 0 10px rgb(181, 145,48),
                 0 0 20px rgb(181, 145,48),
                 0 0 30px rgb(181, 145,48);
        
    }
    #tranee:hover{
        transform: scale(1.1);
          text-shadow: 0 0 10px rgb(181, 145,48),
                 0 0 20px rgb(181, 145,48),
                 0 0 30px rgb(181, 145,48);
    }

@media (max-width: 768px) {
   .social-icons i {
      font-size: 40px;
      margin-top: 10px;
      margin-bottom: 10px;
      cursor: pointer;
      transition: 0.3s;
    }
#row1{
    margin-top: 15px;
    margin-left: 0px;
    margin-right: 0px;
    text-align: center;
    
}
#row3{
    display: flex;
   
  
}
#row2,#row3,#contact{
    text-align: center;
    justify-content: center;
     margin-left: 0px;
    margin-right: 0px;
}
  #row1 h1, #row1 h2 ,#row2 h3 {
        margin-left: 0;       /* إزالة الهامش الأيسر للنصوص */
    }
    
     .social-icons {
        display: flex;
        justify-content: center;  /* توسيط الأيقونات */
        align-items: center;
        margin: 0;
        padding: 0;
    }


   
}
